<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': getColor() === 'darkgreen',
                'list-group-item-danger': getColor() === 'darkred'}"
    [ngStyle]="{color: getColor()}">

  <h2>Titre : {{ title }}</h2>
  <h4>Date de publication  : {{ created_at | date: 'EEEE d MMMM y,HH:mm' }}</h4>
  <p>Contenu : {{ content }}</p>

  <!-- <input type="text" class="form-control" [(ngModel)]="content"> -->

  <button class="btn btn-sm btn-success"
          (click)="onLike()">J'aime {{ipost.loveIts}}</button>
  <button class="btn btn-sm btn-danger"
          (click)="ondLike()">J'aime pas {{ipost.dloveIts}} </button>
  <button class="btn btn-sm btn-danger"
          (click)="onSupress()">Supprimer Post</button>


